{% extends "base.html" %}
{% block title %} Docuemnt Management {% endblock %}
{% block head %} Document Management for {{ user.username }} {% endblock %}
{% block content %}
<!-- List of uploaded documents -->
	{% if documents %}
		<ul>
		{% for document in documents %}
			<li><a href ="{{ document.docfile.url}}">{{document.docfile.name}}
				<img src="'{{document.docfile.url}}" alt="{{document.docfile.name}}" >
			</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p> No documents. </p>
	{% endif %}
		
<form method ="post" action="{% url "list" %}">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Upload" />
</form>
{% endblock %}
